@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --heading-font: "Fraunces", serif;
    --body-font: "Montserrat", sans-serif;
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black : hsl(212, 21%, 14%);
    --dark-grey: hsl(228, 12%, 48%);
    --cream : hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}
body
{
    font-family: var(--body-font);
    font-size: 14px;
    background: var(--cream);
    min-height: 100vh;
    display: grid;
    place-content: center;
}
#product
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 1rem;
}
img,picture
{
    display: block;
    max-width: 100%;
}
#product img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#product .product-content
{
    background-color: white;
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#product .product-content .category
{
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--dark-grey);
}
#product .product-content h1
{
    font-family: var(--heading-font);
    font-size: 32px;
    margin: 20px 0;
    line-height: 1;
    color: var(--green-700);
}
#product .product-content p
{
    font-size: 14px;
    color: var(--dark-grey);
    line-height: 1.6;
}
#product .product-content .price    
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
#product .product-content .price .discount-price
{
    font-size: 30px;
    color: var(--green-500);
    font-family: var(--heading-font);
    font-weight: 700;
    margin-right: 20px; 
}
#product .product-content .cart
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    background: var(--green-500);
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}
#product .product-content .cart::before
{
    content: "";
    background: url("./images/icon-cart.svg");
    width: 15px;
    height: 16px;
    margin-right: 10px;
}
#product .product-content .cart:hover
{
    background-color: var(--green-700);
}
#footer .attribution
{
    text-align: center;
}
#footer .attribution a
{
    text-decoration: none;
    color: var(--green-700);
}
@media (max-width: 700px)
{
    #product
    {
        grid-template-columns: 1fr;
    }
    #product img
    {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    }
    #product .product-content
    {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}