@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{   
    --off-white: hsl(212, 45%, 89%);
    --light-grey: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);

}
body
{
    font-family: "Outfit", sans-serif;
    background-color: var(--off-white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container
{
    max-width: 300px;
    background-color: white;
    padding: 20px 20px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 20px 0 var(--light-grey);
}
img
{
    width: 100%;
}
.imga img
{
    border-radius: 10px;
}
.container .qr-content
{
    color: var(--dark-blue);
    margin: 0 auto;
    max-width: 90%;
}
.container .qr-content h2
{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 700;
}
.container .qr-content p
{
    color: var(--light-grey);
    font-size: 14px;
    line-height: 1.4;
}
.footer .attribution
{
    margin-top: 35px;
}
.footer .attribution a
{
    text-decoration: none;
    color: var(--dark-blue);
}

